@charset "UTF-8";

*{
    font-family:Arial, Helvetica, sans-serif;
    /*height:100%;*/
}
body{
    background-image: linear-gradient(to right,#b2ddf7,#81d6e3);
}
main{
    background-color:white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #495a64c7;
    width: 600px;
    padding: 10px;
    margin:auto;
}
h1{
    color:#52b2cf;
    text-align: center;
    text-shadow: 1px 1px 0px #7e8383f8 ;
}
h2{ color:#52b2cf;

}
p{
    text-align: justify;
}